<div id="<%= dom_id questionnaire_definition %>">
  <div>
    <strong>Title:</strong>
    <%= questionnaire_definition.title %>
  </div>

  <div>
    <strong>Schema:</strong>
    <%= questionnaire_definition.schema %>
  </div>

</div>
