<% content_for :title, "New questionnaire definition" %>

<h1>New questionnaire definition</h1>

<%= render "form", questionnaire_definition: @questionnaire_definition %>

<br>

<div>
  <%= link_to "Back to questionnaire definitions", questionnaire_definitions_path %>
</div>
